<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h3>Error.</h3>
        <p class="text-danger">An error occurred while processing your request. Please try again with valid data !</p>

    </div>
</body>
</html>
